<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-/mybatis.org/DTO Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">

	<cache />
	
	<sql id="basecolumn"> <!-- 일반회원의 컬럼들 -->
		mem_num, mem_id, mem_pw, mem_name, mem_birth, mem_sex, mem_nationality,  mem_email, mem_addr, mem_tel, mem_prefer_trip, mem_date, mem_lev
	</sql>
	
	<resultMap type="memDTO" id="baseMember"> <!-- 일반회원의 Map -->
		<id column="MEM_NUM" jdbcType="VARCHAR" property="memNum" />
		<result column="MEM_ID" jdbcType="VARCHAR" property="memId" />		
		<result column="MEM_PW" jdbcType="VARCHAR" property="memPw"/>		
		<result column="MEM_NAME" jdbcType="VARCHAR" property="memName" />
		<result column="MEM_BIRTH" jdbcType="TIMESTAMP" property="memBirth" />		
		<result column="MEM_SEX" jdbcType="VARCHAR" property="memSex" />
		<result column="MEM_NATIONALITY" jdbcType="VARCHAR" property="memNationality" />
		<result column="MEM_EMAIL" jdbcType="VARCHAR" property="memEmail" />
		<result column="MEM_ADDR" jdbcType="VARCHAR" property="memAddr" />
		<result column="MEM_TEL" jdbcType="TIMESTAMP" property="memTel" />	
		<result column="MEM_PREFER_TRIP" jdbcType="VARCHAR" property="memPreferTrip" />
		<result column="MEM_DATE" jdbcType="TIMESTAMP" property="memDate" />
		<result column="MEM_LEV" jdbcType="INTEGER" property="memLev" />
	</resultMap>	
	
	
	<sql id="combasecolumn"> <!-- 기업회원의 컬럼들 -->
		com_num, com_id, com_pw, com_rep_name, license_number, com_name, com_addr, contact_phone_num, contact_email, com_approval, approval_date, com_date, com_lev
	</sql>
	
	
	<resultMap type="comDTO" id="baseComMember"> <!-- 기업회원의 Map -->
		<id column="COM_NUM" jdbcType="VARCHAR" property="comNum" />
		<result column="COM_ID" jdbcType="VARCHAR" property="comId" />		
		<result column="COM_PW" jdbcType="VARCHAR" property="comPw"/>		
		<result column="COM_REP_NAME" jdbcType="VARCHAR" property="comRepName" />
		<result column="LICENSE_NUMBER" jdbcType="TIMESTAMP" property="licenseNumber" />		
		<result column="COM_NAME" jdbcType="VARCHAR" property="comName" />
		<result column="COM_ADDR" jdbcType="VARCHAR" property="comAddr" />
		<result column="CONTACT_PHONE_NUM" jdbcType="VARCHAR" property="contactPhoneNum" />	
		<result column="CONTACT_EMAIL" jdbcType="VARCHAR" property="contactEmail" />
		<result column="COM_APPROVAL" jdbcType="VARCHAR" property="comApproval" />
		<result column="APPROVAL_DATE" jdbcType="TIMESTAMP" property="approvalDate" />	
		<result column="COM_DATE" jdbcType="TIMESTAMP" property="comDate" />
		<result column="COM_LEV" jdbcType="INTEGER" property="comLev" />
	</resultMap>
	
	<sql id="vspotbasecolumn"> <!-- 휴양지 등록의 컬럼들 -->
		vspot_num, mem_num, mem_id, vspot_title, vspot_name, vspot_original, vspot_store, vspot_location, vspot_locationMap, vspot_loc, vspot_introduce, vspot_feature, vspot_approval, approval_date, vspot_date
	</sql>
	
	<resultMap type="vDTO" id="baseVspotMember"> <!-- 휴양지 등록 Map -->
		<id column="VSPOT_NUM" jdbcType="INTEGER" property="vspotNum" />
		<result column="MEM_NUM" jdbcType="VARCHAR" property="memNum" />
		<result column="MEM_ID" jdbcType="VARCHAR" property="memId" />
		<result column="VSPOT_TITLE" jdbcType="VARCHAR" property="vspotTitle" />			
		<result column="VSPOT_NAME" jdbcType="VARCHAR" property="vspotName"/>		
		<result column="VSPOT_ORIGINAL" jdbcType="VARCHAR" property="vspotOriginal" />
		<result column="VSPOT_STORE" jdbcType="VARCHAR" property="vspotStore" />		
		<result column="VSPOT_LOCATION" jdbcType="VARCHAR" property="vspotLocation" />
		<result column="VSPOT_LOCATIONMAP" jdbcType="VARCHAR" property="vspotLocationMap" />
		<result column="VSPOT_LOC" jdbcType="VARCHAR" property="vspotLoc" />
		<result column="VSPOT_INTRODUCE" jdbcType="VARCHAR" property="vspotIntroduce" />
		<result column="VSPOT_FEATURE" jdbcType="VARCHAR" property="vspotFeature" />	
		<result column="VSPOT_APPROVAL" jdbcType="VARCHAR" property="vspotApproval" />
		<result column="APPROVAL_DATE" jdbcType="TIMESTAMP" property="approvalDate" />
		<result column="VSPOT_DATE" jdbcType="TIMESTAMP" property="vspotDate" />	
	</resultMap>
	

	<!-- 승인 미승인 처리를 기다리는 기업회원의 리스트 항목  -->
	<select id="comList" parameterType="spageDTO" resultMap="baseComMember">
	
		select rownum rn, <include refid="combasecolumn" />
		from(select rownum rn, <include refid="combasecolumn" />
			from(select <include refid="combasecolumn" />
				from company_member order by COM_DATE desc))
		where com_lev = ${su1} and rn &gt;= #{startRow} and rn &lt;= #{endRow}
		
	</select>
	
	<!-- 승인 미승인 처리를 기다리는 기업회원의 수 -->
	<select id="listCount" parameterType="String" resultType="int">
		select count(*)
		from company_member
		where com_lev = ${comLev}
	</select>
	
	<!-- 리스트에서 승인을 클릭하면 레벨이 증가. (선생님 회원가입)  -->
	<update id="comTrue" parameterType="String"  >
		update company_member
			set com_lev = 3, com_approval = '승인', approval_date = sysdate
			where com_num = ${comNum}
	</update>
	
	<!-- 리스트에서 미승인을 클릭하면 삭제. (선생님 회원가입)  -->
	<delete id="comFalse" parameterType="String"  >
		delete from company_member
			where com_num = ${comNum}
	</delete>

	<!-- 회원이 휴양지 신청을 했을때 뽑히는 리스트 -->
	<select id="vspotList" parameterType="spageDTO" resultMap="baseVspotMember">
		
		select rownum rn, <include refid="vspotbasecolumn" />
		from(select rownum rn, <include refid="vspotbasecolumn" />
			from(select <include refid="vspotbasecolumn" />
				from vspot 
				order by VSPOT_DATE desc))
		where VSPOT_APPROVAL='미승인' and rn &gt;= #{startRow} and rn &lt;= #{endRow}
	
	</select>
	
	<!-- 승인 미승인 처리를 기다리는 휴양지 등록 개수 -->
	<select id="vspotListCount" parameterType="String" resultType="int">
		select count(*)
		from vspot
		where VSPOT_APPROVAL='미승인'
	</select>
	

	<!-- 리스트에서 승인을 클릭하면 승인으로 변경 (휴양지 등록)  -->
	<update id="vspotTrue" parameterType="String"  >
		update vspot
			set vspot_approval = '승인', approval_date = sysdate
			where vspot_num = ${vspotNum}
	</update>
	
	<!-- 리스트에서 미승인을 클릭하면 삭제(휴양지 등록)  -->
	<delete id="vspotFalse" parameterType="String"  >
		delete from vspot
			where vspot_num = ${vspotNum}
	</delete>
	
	<!-- 리스트에서 미승인을 눌렀을시 파일 삭제하기 위해서 ********* 디테일도 이거씁니다.***** -->
	<select id="FileDelete" parameterType="vDTO" resultMap="baseVspotMember">
		select <include refid="vspotbasecolumn" />
		from vspot
		where vspot_num = ${vspotNum}
	</select>
	
	<!-- 관리자가 휴양지를 등록하는 것. -->
	<insert id="adminvspotInsert" parameterType="vDTO"> 
		insert into vspot(<include refid="vspotbasecolumn" />) values((select nvl(max(vspot_num)+1,1) from vspot), #{memNum}, #{memId}, #{vspotTitle}, #{vspotName}, #{vspotOriginal}, #{vspotStore}, #{vspotLocation} , #{vspotLocationMap}, #{vspotLoc}, #{vspotIntroduce}, #{vspotFeature}, '승인', null, sysdate)
		
	</insert>

	</mapper>