<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Repository.Car.CarCalendarMapper">

	<cache />
	
	<resultMap type="Model.DTO.CarCalendarJoinDTO" id="carCalendarJoin">
		<id column="drive_num" jdbcType="BIGINT" property="carDTO.driveNum" />
		<id column="MEM_NUM" jdbcType="VARCHAR" property="memberDTO.memNum" />
		<id column="calendar_number" jdbcType="BIGINT" property="carCalendarDTO.calendarNumber" />
		<id column="payment_number" jdbcType="VARCHAR" property="carPaymentDTO.paymentNumber" />	
		<result column="mem_num" jdbcType="VARCHAR" property="carDTO.memNum" />
		<result column="drive_name" jdbcType="VARCHAR" property="carDTO.driveName" />
		<result column="drive_age" jdbcType="BIGINT" property="carDTO.driveAge" />
		<result column="drive_license_info" jdbcType="VARCHAR" property="carDTO.driveLicenseInfo" />
		<result column="car_name" jdbcType="VARCHAR" property="carDTO.carName" />
		<result column="car_num" jdbcType="VARCHAR" property="carDTO.carNum" />
		<result column="car_image" jdbcType="VARCHAR" property="carDTO.carImage" />
		<result column="car_image_store" jdbcType="VARCHAR" property="carDTO.carImageStore" />
		<result column="car_image_size" jdbcType="VARCHAR" property="carDTO.carImageSize" />
		<result column="car_size" jdbcType="BIGINT" property="carDTO.carSize" />
		<result column="car_kinds" jdbcType="VARCHAR" property="carDTO.carKinds" />
		<result column="car_content" jdbcType="VARCHAR" property="carDTO.carContent"/>
		<result column="car_regist" jdbcType="TIMESTAMP" property="carDTO.carRegist"/>
		<result column="car_approval" jdbcType="BIGINT" property="carDTO.carApproval" />
		<result column="drive_info_num"        jdbcType="BIGINT" property="carDTO.driveInfoNum"/>
		<result column="drive_license_store"   jdbcType="VARCHAR" property="carDTO.driveLicenseStore"/>
		<result column="drive_license"         jdbcType="VARCHAR" property="carDTO.driveLicense"/>
		<result column="drive_license_size"    jdbcType="VARCHAR" property="carDTO.driveLicenseSize"/>
		<result column="drive_insurance"       jdbcType="VARCHAR" property="carDTO.driveInsurance"/>
		<result column="drive_insurance_store" jdbcType="VARCHAR" property="carDTO.driveInsuranceStore"/>
		<result column="drive_insurance_size"  jdbcType="VARCHAR" property="carDTO.driveInsuranceSize"/>
		<result column="drive_carcheck"        jdbcType="VARCHAR" property="carDTO.driveCarcheck"/>
		<result column="drive_carcheck_store"  jdbcType="VARCHAR" property="carDTO.driveCarcheckStore"/>
		<result column="drive_carcheck_size"   jdbcType="VARCHAR" property="carDTO.driveCarcheckSize"/>
		<result column="MEM_ID" jdbcType="VARCHAR" property="memberDTO.memId" />		
		<result column="MEM_PW" jdbcType="VARCHAR" property="memberDTO.memPw"/>		
		<result column="MEM_NAME" jdbcType="VARCHAR" property="memberDTO.memName" />
		<result column="MEM_BIRTH" jdbcType="TIMESTAMP" property="memberDTO.memBirth" />		
		<result column="MEM_SEX" jdbcType="VARCHAR" property="memberDTO.memSex" />
		<result column="MEM_NATIONALITY" jdbcType="VARCHAR" property="memberDTO.memNationality" />
		<result column="MEM_EMAIL" jdbcType="VARCHAR" property="memberDTO.memEmail" />
		<result column="MEM_ADDR" jdbcType="VARCHAR" property="memberDTO.memAddr" />
		<result column="MEM_TEL" jdbcType="TIMESTAMP" property="memberDTO.memTel" />	
		<result column="MEM_PREFER_TRIP" jdbcType="VARCHAR" property="memberDTO.memPreferTrip" />
		<result column="MEM_DATE" jdbcType="TIMESTAMP" property="memberDTO.memDate" />
		<result column="MEM_LEV" jdbcType="INTEGER" property="memberDTO.memLev" />
		<result column="calendar_departureDate" jdbcType="TIMESTAMP" property="carCalendarDTO.calendarDepartureDate" />			
		<result column="start_time" jdbcType="VARCHAR" property="carCalendarDTO.startTime" />
		<result column="calendar_startingpoint" jdbcType="VARCHAR" property="carCalendarDTO.calendarStartingpoint" />		
		<result column="calendar_destination" jdbcType="VARCHAR" property="carCalendarDTO.calendarDestination" />
		<result column="destination_time" jdbcType="TIMESTAMP" property="carCalendarDTO.destinationTime" />
		<result column="prediction_time" jdbcType="VARCHAR" property="carCalendarDTO.predictionTime" />
		<result column="prediction_price" jdbcType="BIGINT" property="carCalendarDTO.predictionPrice" />
		<result column="calendar_arrival" jdbcType="TIMESTAMP" property="carCalendarDTO.calendarArrival" />	
		<result column="calendar_regist" jdbcType="TIMESTAMP" property="carCalendarDTO.calendarRegist" />
		<result column="calendar_recruitment" jdbcType="BIGINT" property="carCalendarDTO.calendarRecruitment" />
		<result column="calendar_participant" jdbcType="BIGINT" property="carCalendarDTO.calendarParticipant" />
		<result column="calender_reservation_num" jdbcType="BIGINT" property="carPaymentDTO.calenderReservationNum" />
		<result column="calendar_number" jdbcType="BIGINT" property="carPaymentDTO.calendarNumber" />
		<result column="card_selection" jdbcType="VARCHAR" property="carPaymentDTO.cardSelection" />
		<result column="card_number" jdbcType="TIMESTAMP" property="carPaymentDTO.cardNumber" />			
		<result column="card_expiration_date" jdbcType="VARCHAR" property="carPaymentDTO.cardExpirationDate" />
		<result column="cvc_number" jdbcType="VARCHAR" property="carPaymentDTO.cvcNumber" />		
		<result column="car_price" jdbcType="VARCHAR" property="carPaymentDTO.carPrice" />
		<result column="payment_price" jdbcType="TIMESTAMP" property="carPaymentDTO.paymentPrice" />
		<result column="payment_date" jdbcType="VARCHAR" property="carPaymentDTO.paymentDate" />
		<result column="payment_check" jdbcType="BIGINT" property="carPaymentDTO.paymentCheck" />
	</resultMap>
	
	<select id="carCalendarDriveNumSelect" parameterType="String" resultType="Integer">
		SELECT c.DRIVE_NUM
		FROM car c,member m
		WHERE c.mem_num = m.mem_num and m.mem_name = #{memName}
	</select>
	
	<select id="calendarAllList" parameterType="Model.DTO.CarCalendarJoinDTO" resultMap="carCalendarJoin">
		select cd.calendar_number,cd.calendar_departureDate,cd.calendar_arrival,cd.START_TIME,cd.destination_time,cd.prediction_time
		,cc.car_name,cd.calendar_regist,cd.calendar_recruitment,cd.calendar_participant,cd.calendar_startingpoint,cd.calendar_destination,
		cd.prediction_price
		from car cc , calendar cd 
		where cc.drive_num = cd.drive_num
	</select>
	
	<select id="calendarDetailOneSelect" parameterType="Integer" resultMap="carCalendarJoin">
		select mm.mem_id,mm.mem_name,drive_age,ca.car_name,ca.car_image,ca.car_image_store,ca.car_image_size,cad.calendar_departureDate,
		cad.calendar_arrival,cad.START_TIME,cad.destination_time,cad.prediction_time,cad.calendar_recruitment,cad.calendar_participant,
		cad.calendar_startingpoint,cad.calendar_destination,cad.prediction_price,cad.calendar_regist,cad.calendar_number
		from member mm , car ca, calendar cad, CAR_PAYMENT cpy, CALENDAR_RESERVATION crt
		where mm.mem_num = ca.mem_num and ca.drive_num = cad.drive_num and  crt.calender_reservation_num = cpy.calender_reservation_num  and cad.calendar_number = #{calendarNumber}
	
	</select>

	<insert id="carCalendarInsert" parameterType="Model.DTO.CarCalendarDTO" >
		insert into CALENDAR (calendar_number,drive_num,calendar_DepartureDate,start_time,calendar_Startingpoint,calendar_destination,destination_time,
		prediction_time,prediction_price,calendar_arrival,calendar_regist,calendar_recruitment,calendar_participant)
		values (calendar_number_seq.nextval,#{driveNum},#{calendarDepartureDate},#{startTime},#{calendarStartingpoint},#{calendarDestination},#{destinationTime},#{predictionTime},#{predictionPrice},#{calendarArrival},sysdate,#{calendarRecruitment},0)
	</insert>

</mapper>