<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-/mybatis.org/DTO Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<cache />
	
	<sql id="basecolumn">
		mem_num, mem_id, mem_pw, mem_name, mem_birth, mem_sex, mem_nationality, mem_loc, mem_email, mem_addr, mem_tel, mem_prefer_trip, mem_date
	</sql>
	
	<insert id="JoinInsert" parameterType="memDTO">
		insert into member(<include refid="basecolumn" />) values((select nvl(max(mem_num)+1,1) from member),#{memId}, #{memPw}, #{memName}, #{memBirth}, #{memSex}, #{memNationality}, #{memLoc}, #{memEmail}, #{memAddr}, #{memTel}, #{memPreferTrip}, sysdate )
	</insert>

	<select id="memCheck">
		select <include refid="basecolumn" />
		from member
		where mem_id = #{memID}
	</select>
	
	
</mapper>