<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-/mybatis.org/DTO Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<cache />
	
	<sql id="basecolumn">
		mem_num, mem_id, mem_pw, mem_name, mem_birth, mem_sex, mem_nationality, mem_email, mem_addr, mem_tel, mem_prefer_trip, mem_date
	</sql>
	
	<sql id="combasecolumn">
		com_num, com_id, com_pw, com_rep_name, license_number, com_name, com_addr, contact_phone_num, contact_email, com_approval, approval_date, com_date
	</sql>
	
	<insert id="JoinInsert" parameterType="memDTO">
		insert into member(<include refid="basecolumn" />) values((select nvl(max(mem_num)+1,1) from member),#{memId}, #{memPw}, #{memName}, #{memBirth}, #{memSex}, #{memNationality}, #{memEmail}, #{memAddr}, #{memTel}, #{memPreferTrip}, sysdate )
	</insert>

	<select id="memCheck" parameterType="String" resultType="int">
		select count(*)
		from member
		where mem_id = #{memId}
	</select>
	
	<insert id="InfoInsert" parameterType="comDTO">
		insert into company_member(<include refid="combasecolumn" />) values((select nvl(max(com_num)+1,1) from company_member), #{comId}, #{comPw}, #{comRepName}, #{licenseNumber}, #{comName}, #{comAddr}, #{contactPhoneNum}, #{contactEmail}, '미승인', null, sysdate )
	</insert>
	
	<select id="ComCheck" parameterType="String" resultType="int">
		select count(*)
		from company_member
		where com_id = #{comId}
	</select>
	
</mapper>