<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-/mybatis.org/DTO Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spotMapper">

	<cache />
	
	<sql id="basecolumn"> <!-- 휴양지 등록의 컬럼들 -->
		vspot_num, mem_num, mem_id, vspot_title, vspot_name, vspot_original, vspot_store, vspot_location, vspot_locationMap, vspot_loc, vspot_introduce, vspot_feature, vspot_approval, approval_date, vspot_date
	</sql>
	
	<resultMap type="vDTO" id="baseVspotMember"> <!-- 휴양지 등록 Map -->
		<id column="VSPOT_NUM" jdbcType="INTEGER" property="vspotNum" />
		<result column="MEM_NUM" jdbcType="VARCHAR" property="memNum" />
		<result column="MEM_ID" jdbcType="VARCHAR" property="memId" />
		<result column="VSPOT_TITLE" jdbcType="VARCHAR" property="vspotTitle" />			
		<result column="VSPOT_NAME" jdbcType="VARCHAR" property="vspotName"/>		
		<result column="VSPOT_ORIGINAL" jdbcType="VARCHAR" property="vspotOriginal" />
		<result column="VSPOT_STORE" jdbcType="VARCHAR" property="vspotStore" />		
		<result column="VSPOT_LOCATION" jdbcType="VARCHAR" property="vspotLocation" />
		<result column="VSPOT_LOCATIONMAP" jdbcType="VARCHAR" property="vspotLocationMap" />
		<result column="VSPOT_LOC" jdbcType="VARCHAR" property="vspotLoc" />
		<result column="VSPOT_INTRODUCE" jdbcType="VARCHAR" property="vspotIntroduce" />
		<result column="VSPOT_FEATURE" jdbcType="VARCHAR" property="vspotFeature" />	
		<result column="VSPOT_APPROVAL" jdbcType="VARCHAR" property="vspotApproval" />
		<result column="APPROVAL_DATE" jdbcType="TIMESTAMP" property="approvalDate" />
		<result column="VSPOT_DATE" jdbcType="TIMESTAMP" property="vspotDate" />
		<collection property="spotRe" resultMap="basevspotReview" />	
	</resultMap>
	
	<sql id="vspotReview"> <!-- 후기 등록 컬럼들.휴양지 후기 -->
		spot_review_num, vspot_num, mem_num, mem_id, spot_review_title, spot_review_context, spot_review_star1, spot_review_star2, spot_review_star3, spot_review_star4, spot_review_avg, SPOT_REVIEW_DATE
	</sql>
	
	<resultMap type="srDTO" id="basevspotReview"> <!-- 후기 등록 Map 휴양지 -->
		<id column="SPOT_REVIEW_NUM" jdbcType="INTEGER" property="spotReviewNum" />
		<result column="VSPOT_NUM" jdbcType="INTEGER" property="vspotNum" />
		<result column="MEM_NUM" jdbcType="VARCHAR" property="memNum" />
		<result column="MEM_ID" jdbcType="VARCHAR" property="memId" />			
		<result column="SPOT_REVIEW_TITLE" jdbcType="VARCHAR" property="spotReviewTitle"/>
		<result column="SPOT_REVIEW_CONTEXT" jdbcType="VARCHAR" property="spotReviewContext"/>
		<result column="SPOT_REVIEW_STAR1" jdbcType="INTEGER" property="spotReviewStar1"/>
		<result column="SPOT_REVIEW_STAR2" jdbcType="INTEGER" property="spotReviewStar2"/>
		<result column="SPOT_REVIEW_STAR3" jdbcType="INTEGER" property="spotReviewStar3"/>
		<result column="SPOT_REVIEW_STAR4" jdbcType="INTEGER" property="spotReviewStar4"/>		
		<result column="SPOT_REVIEW_AVG" jdbcType="INTEGER" property="spotReviewAvg"/>
		<result column="SPOT_REVIEW_DATE" jdbcType="TIMESTAMP" property="spotReviewDate" />
	</resultMap>
	
	<sql id="shopbasecolumn"> <!-- 상점 등록 컬럼 -->
		shop_num, vspot_num, mem_id, shop_category, shop_loc, shop_location, shop_locationMap, shop_name,  goods_original, goods_store, goods_context, GOODS_INTRO, shop_approval, shop_closed, shop_count, shop_time1, shop_time2, goods_date
	</sql>
	
	<resultMap type="shopDTO" id="shopbase"> <!-- 상점 등록 Map -->
		<id column="SHOP_NUM" jdbcType="INTEGER" property="shopNum" />
		<result column="VSPOT_NUM" jdbcType="INTEGER" property="vspotNum" />
		<result column="MEM_ID" jdbcType="VARCHAR" property="memId" />
		<result column="SHOP_CATEGORY" jdbcType="VARCHAR" property="shopCategory" />
		<result column="SHOP_LOC" jdbcType="VARCHAR" property="shopLoc" />			
		<result column="SHOP_LOCATION" jdbcType="VARCHAR" property="shopLocation"/>		
		<result column="SHOP_LOCATIONMAP" jdbcType="VARCHAR" property="shopLocationMap" />
		<result column="SHOP_NAME" jdbcType="VARCHAR" property="shopName" />
		<result column="GOODS_ORIGINAL" jdbcType="VARCHAR" property="goodsOriginal" />
		<result column="GOODS_STORE" jdbcType="VARCHAR" property="goodsStore" />
		<result column="GOODS_CONTEXT" jdbcType="VARCHAR" property="goodsContext" />
		<result column="GOODS_INTRO" jdbcType="VARCHAR" property="goodsIntro" />
		<result column="SHOP_APPROVAL" jdbcType="VARCHAR" property="shopApproval" />
		<result column="SHOP_CLOSED" jdbcType="VARCHAR" property="shopClosed" />
		<result column="shop_count" jdbcType="INTEGER" property="shopCount" />
		<result column="shop_time1" jdbcType="VARCHAR" property="shopTime1" />	
		<result column="shop_time2" jdbcType="VARCHAR" property="shopTime2" />	
		<result column="GOODS_DATE" jdbcType="TIMESTAMP" property="goodsDate" />	
	</resultMap>
	
	
	<sql id="shopReview"> <!-- 후기 등록 컬럼들.상점 후기 -->
		shop_review_num, shop_num, mem_num, mem_id, shop_review_title, shop_review_context, shop_review_star1, shop_review_star2, shop_review_star3, shop_review_star4, shop_review_date
	</sql>
	
	<resultMap type="shReDTO" id="baseshopReview"> <!-- 후기 등록 Map 상점 -->
		<id column="SHOP_REVIEW_NUM" jdbcType="INTEGER" property="shopReviewNum" />
		<result column="SHOP_NUM" jdbcType="INTEGER" property="shopNum" />
		<result column="MEM_NUM" jdbcType="VARCHAR" property="memNum" />
		<result column="MEM_ID" jdbcType="VARCHAR" property="memId" />			
		<result column="SHOP_REVIEW_TITLE" jdbcType="VARCHAR" property="shopReviewTitle"/>
		<result column="SHOP_REVIEW_CONTEXT" jdbcType="VARCHAR" property="shopReviewContext"/>
		<result column="SHOP_REVIEW_STAR1" jdbcType="INTEGER" property="shopReviewStar1"/>
		<result column="SHOP_REVIEW_STAR2" jdbcType="INTEGER" property="shopReviewStar2"/>
		<result column="SHOP_REVIEW_STAR3" jdbcType="INTEGER" property="shopReviewStar3"/>
		<result column="SHOP_REVIEW_STAR4" jdbcType="INTEGER" property="shopReviewStar4"/>
		<result column="SHOP_REVIEW_DATE" jdbcType="TIMESTAMP" property="shopReviewDate" />
	</resultMap>
	
	
	<sql id="shopReservation"> <!-- 예약 등록 컬럼들.상점  -->
		shop_reservation_num, shop_num, vspot_num, mem_num, people_num, use_date, use_time, shop_lev
	</sql>
	
	<resultMap type="shationDTO" id="baseshopReservation"> <!-- 예약 Map 상점 -->
		<id column="SHOP_RESERVATION_NUM" jdbcType="INTEGER" property="shopReservationNum" />
		<result column="SHOP_NUM" jdbcType="INTEGER" property="shopNum" />
		<result column="VSPOT_NUM" jdbcType="INTEGER" property="vspotNum" />	
		<result column="MEM_NUM" jdbcType="VARCHAR" property="memNum" />
		<result column="PEOPLE_NUM" jdbcType="INTEGER" property="peopleNum"/>
		<result column="USE_DATE" jdbcType="TIMESTAMP" property="useDate"/>
		<result column="USE_TIME" jdbcType="VARCHAR" property="useTime" />
		<result column="SHOP_LEV" jdbcType="VARCHAR" property="shopLev" />
	</resultMap>
	
	
	<!-- 휴양지 등록하는 내용 -->
	<insert id="vspotInsert" parameterType="vDTO">
		insert into vspot(<include refid="basecolumn" />) values((select nvl(max(vspot_num)+1,1) from vspot), #{memNum}, #{memId}, #{vspotTitle}, #{vspotName}, #{vspotOriginal}, #{vspotStore}, #{vspotLocation} , #{vspotLocationMap}, #{vspotLoc}, #{vspotIntroduce}, #{vspotFeature}, '미승인', null, sysdate)
	</insert>
	
	<!-- 휴양지 리스트를 뽑는 내용 -->
	<select id="memList" resultMap="baseVspotMember" parameterType="vDTO">
		select <include refid="basecolumn" />
		from vspot
		where VSPOT_APPROVAL = '승인'
		
	</select>
	
	<!-- 휴양지 리스트 클릭 시 상세보기 내용 -->
	<select id="listDetail" resultMap="baseVspotMember" parameterType="vDTO">
		select <include refid="basecolumn" />
		from vspot
		where VSPOT_NUM = ${vspotNum}
	</select>
	
	<!-- 상세보기 안의 후기 작성을 하기위한 num값 출력 -->
	<select id="insertList" resultMap="baseVspotMember" parameterType="vDTO">
		select <include refid="basecolumn" />
		from vspot
		where VSPOT_NUM = ${vspotNum}
	</select>
	
	<!-- 휴양지 후기등록 관련 내용 -->
	<insert id="insert" parameterType="srDTO">
		insert into spot_review(<include refid="vspotReview" />) values((select nvl(max(spot_review_num)+1,1) from spot_review), #{vspotNum}, #{memNum}, #{memId}, #{spotReviewTitle}, #{spotReviewContext}, #{spotReviewStar1}, #{spotReviewStar2}, #{spotReviewStar3}, #{spotReviewStar4}, null ,sysdate)
	</insert>
	
	<!-- 휴양지 후기를 상세보기 안에 적는 내용(휴양지) -->
	<select id="listReview" parameterType="spageDTO" resultMap="basevspotReview">
		select rownum rn, <include refid="vspotReview" />
		from(select rownum rn, <include refid="vspotReview" />
			from(select <include refid="vspotReview" />
				from spot_review order by SPOT_REVIEW_DATE desc))
				where vspot_num = #{su1} and rn &gt;= #{startRow} and rn &lt;= #{endRow}
			
	</select>
	<!-- 후기의 개수 뽑느거 -->
	<select id="listReviewCount" parameterType="srDTO" resultType="int">
		select count(*)
		from spot_review
		where vspot_num = #{vspotNum} 
	</select>
	
	
	<select id="jointest" parameterType="vDTO" resultMap="baseVspotMember"> <!-- 각 리스트에 점수를 뽑고 싶습니다. -->
		select *
		from spot_review, vspot
		where spot_review.vspot_num = vspot.vspot_num and vspot.vspot_num = #{vspotNum}
	
	</select>
	
	<!-- 상점 리스트를 뽑는 내용 -->
	<select id="listShop" resultMap="shopbase" parameterType="shopDTO">
		select <include refid="shopbasecolumn" />
		from shop
		where vspot_num = #{vspotNum} 
	</select>
	
	<!-- 상점 리스트 클릭 시 상세보기 내용 -->
	<select id="shoplistDetail" resultMap="shopbase" parameterType="shopDTO">
		select <include refid="shopbasecolumn" />
		from shop
		where SHOP_NUM = ${shopNum}
	</select>
	
	<!-- 상세보기 안의 후기 작성을 하기위한 num값 출력 (상점에서)-->
	<select id="listNum" resultMap="shopbase" parameterType="shopDTO">
		select <include refid="shopbasecolumn" />
		from shop
		where SHOP_NUM = ${shopNum}
	</select>
	
	
	<!-- 상점 후기등록 관련 내용 -->
	<insert id="insertshr" parameterType="shReDTO">
		insert into shop_review(<include refid="shopReview" />) values((select nvl(max(shop_review_num)+1,1) from shop_review), #{shopNum}, #{memNum}, #{memId}, #{shopReviewTitle}, #{shopReviewContext}, #{shopReviewStar1}, #{shopReviewStar2}, #{shopReviewStar3}, #{shopReviewStar4}, sysdate)
	</insert>
	
	
	<!-- 상점 후기를 상세보기 안에 적는 내용(상점) -->
	<select id="listShopReview" parameterType="spageDTO" resultMap="baseshopReview">
		select rownum rn, <include refid="shopReview" />
		from(select rownum rn, <include refid="shopReview" />
			from(select <include refid="shopReview" />
				from shop_review order by SHOP_REVIEW_DATE desc))
				where shop_num = #{su1} and rn &gt;= #{startRow} and rn &lt;= #{endRow}
			
	</select>
	<!-- 상점의 후기 개수 뽑느거 -->
	<select id="listShopReviewCount" parameterType="shReDTO" resultType="int">
		select count(*)
		from shop_review
		where shop_num = #{shopNum} 
	</select>
	
	<!-- 예약 등록 관련 내용 -->
	<insert id="ReservationInsert" parameterType="shationDTO">
		insert into shop_reservation(<include refid="shopReservation" />) values((select nvl(max(shop_reservation_num)+1,100000000) from shop_reservation), #{shopNum}, #{vspotNum}, #{memNum}, #{peopleNum}, #{useDate}, #{useTime}, '1')
	</insert>
	
	
	<!-- 상점 디테일에서 후기를 작성하기 위해 예약한 사람을 뽑기 위해 -->
	<select id="shopNumselect" resultMap="baseshopReservation" parameterType="shationDTO">
		select <include refid="shopReservation" />
		from shop_reservation
		where 
		SHOP_NUM = ${shopNum} and MEM_NUM = #{memNum}
	</select>
	
	<!-- 프로필에서 휴양지 리스트 뽑는 거. -->
	<select id="vspotSele" parameterType="spageDTO" resultMap="baseVspotMember" >
		select rownum rn, <include refid="basecolumn" />
		from(select rownum rn, <include refid="basecolumn" />
			from(select <include refid="basecolumn" />
				from vspot order by VSPOT_DATE ASC))
				where mem_num = #{su1} and rn &gt;= #{startRow} and rn &lt;= #{endRow}
	</select>
	
	<!-- 프로필에서 휴양지 개수.. -->
	<select id="vspotseleCount" parameterType="vDTO" resultType="int">
		select count(*)
		from vspot
		where mem_num = #{memNum} 
	</select>
	
	<!-- 프로필에서 상점 리스트 -->
	<select id="shopSele" parameterType="spageDTO" resultMap="shopbase" >
		select rownum rn, <include refid="shopbasecolumn" />
		from(select rownum rn, <include refid="shopbasecolumn" />
			from(select <include refid="shopbasecolumn" />
				from shop order by GOODS_DATE ASC))
				where mem_id = #{abc} and rn &gt;= #{startRow} and rn &lt;= #{endRow}
	</select>
	
	
	<!-- 프로필에서 상점 개수.. -->
	<select id="shopSeleCount" parameterType="shopDTO" resultType="int">
		select count(*)
		from shop
		where mem_id = #{memId} 
	</select>
	
	
	<!-- 프로필에서 예약 리스트 -->
	<select id="shopReserSele" parameterType="spageDTO" resultMap="baseshopReservation" >
		select rownum rn, <include refid="shopReservation" />
		from(select rownum rn, <include refid="shopReservation" />
			from(select <include refid="shopReservation" />
				from shop_reservation order by USE_DATE ASC))
				where mem_num = #{abc} and rn &gt;= #{startRow} and rn &lt;= #{endRow}
	</select>
	
	
	<!-- 프로필에서 예약 개수.. -->
	<select id="shoprtionSeleCount" parameterType="shationDTO" resultType="int">
		select count(*)
		from shop_reservation
		where mem_num = #{memNum} 
	</select>
	
	
	<!-- 예약 취소 누르면 삭제.-->
	<delete id="shopDelete" parameterType="shationDTO" >
		delete 
		from shop_reservation
		where SHOP_RESERVATION_NUM = #{shopReservationNum} 
	</delete>
	
</mapper>