<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:context = "http://www.springframework.org/schema/context"
	   xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd"
>
<context:annotation-config />

<bean id="memberJoinService" class="Service.Member.MemberJoinService" />
<bean id="memberRepository" class="Repository.Member.MemberRepository" />
<bean id="memberJoinUserCheckService" class="Service.Member.MemberJoinUserCheckService" />
<bean id="comMemberInfoService" class="Service.Member.ComMemberInfoService" />
<bean id="comMemberJoinUserCheckService" class="Service.Member.ComMemberJoinUserCheckService" />
<bean id="loginService" class="Service.Login.LoginService" /> 
<bean id="loginMainService" class="Service.Login.LoginMainService" /> 
<bean id="memberLogoutService" class="Service.Login.MemberLogoutService" /> 
<bean id="comManaService" class="Service.ComManagement.ComManaService" /> 
<bean id="adminRepository" class="Repository.Admin.AdminRepository" /> 
<bean id="comTrueService" class="Service.ComManagement.ComTrueService" /> 
<bean id="comFalseService" class="Service.ComManagement.ComFalseService" />
<bean id="vspotService" class="Service.Vspot.VspotService" />
<bean id="vspotRepository" class="Repository.Vspot.VspotRepository" />
<bean id="memVspotListService" class="Service.ComManagement.MemVspotListService" />
<bean id="fileSerivce" class="Service.ComManagement.FileSerivce" />
<bean id="memVspotListServiceList" class="Service.Vspot.MemVspotListServiceList" />
<bean id="vspotListDetailService" class="Service.Vspot.VspotListDetailService" />
<bean id="reviewInsertService" class="Service.Vspot.ReviewInsertService" />
<bean id="adminSpotService" class="Service.ComManagement.AdminSpotService" />
<bean id="mainService" class="Service.Main.MainService" />

</beans>
